@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:ital,wght@0,700;1,700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:  hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    


}

.container{
    text-align: center;
    background: hsl(0, 0%, 12%);
    height: 470px;
    width: 350px;
    border-radius: 15px;    
}

.text-img{
    margin: 25px;
    
}

.text-img h1{
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    margin: 5px;
}

.text-img h3{
    color:  hsl(75, 94%, 57%);
    font-size: 0.7rem;
}

.text-img p{
    color:  hsl(0, 0%, 100%);
    font-size: 12px;    
    margin: 15px;
    opacity: 0.5;
    
}

.container img{
    border-radius: 50%;
    height: 60px;
}


.boxes{
    margin-top: 25px;
    
    
    
}
.boxes div{
    margin: 10px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%); 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.boxes div:hover{
    background-color: hsl(75, 94%, 57%);
    color:  hsl(0, 0%, 12%); 


}
@media (max-width: 350px) {
    .container {
        margin: 20px;
        height: auto;
    }
    
}